<?xml version="1.0" encoding="utf-8"?>
<!-- Set your package name here -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="in.celest.xash3d.dedicated"
      android:versionCode="5"
      android:versionName="1.1">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="5"/>
    <!-- Set your application name here -->
    <application android:label="XashDS" android:debuggable="true">
    <!-- Set your launcher title here -->
        <activity android:name=".DedicatedActivity"
                  android:label="XashDS"
			android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
