<?xml version="1.0" encoding="utf-8"?>
<!-- Set your package name here -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="in.celest.xash3d.dedicated"
      android:versionCode="5"
      android:versionName="1.2-forked">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="5"/>
    <!-- Set your application name here -->
    <application android:label="XashDS"
        android:debuggable="true"
		android:icon="@drawable/logo"
        android:theme="@style/AppTheme">
    <!-- Set your launcher title here -->
        <activity android:name=".DedicatedActivity"
                  android:label="XashDS"
			android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ListActivity"
            android:label="XashDS"
            android:exported="true"
			android:theme="@style/AppDialog"/>
		
		<activity android:name=".AboutActivity"
            android:label="@string/b_about"
            android:exported="true"
			android:theme="@style/AppDialog"/>
		
		<activity android:name=".ConnectActivity"
			android:label="Connect..."
			android:exported="true"
			android:theme="@style/AppDialog"/>

		<activity android:name=".ShortcutCreatorActivity"
			android:label="Create shortcut..."
			android:exported="true"
			android:theme="@style/AppDialog"/>
		
		<activity android:name=".SettingsActivity"
            android:label="@string/master_head"
            android:exported="true">
			<intent-filter>
                <action android:name=".ListActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		
        <service android:name=".DedicatedService"
            android:exported="false"
            android:enabled="true"/>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
</manifest> 
